
@font-face {
    font-family: "baking_sauce";
    src: url(/fonts/baking_sauce/BAKINGSAUCE.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /*colors*/
    --black: #010208;
    --black--purple: #1d0c20;
    --purple: #651f71;
    --light--purple: #7037cd;
    --white--purple: #ccbbff;
    --blue: #506ee5;
    --black--blue: #2e439b;
    --light--blue: #68b2f8;
    --white--blue: #bbcbff;

    /*move variables*/
    --max--move: 12px;
    --min--move: -12px;
}

body {
    background-color: var(--black);
}

.to__text {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--blue);

    box-shadow: 0 0 10px #2e439baa;
    
    position: absolute;
    top: calc(100% - 50px);
    left: calc(100% - 50px);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.to__text > div {
    width: 2px;
    height: 50%;

    background-color: var(--blue);
    box-shadow: 0 0 10px #2e439baa;
}

.to__text > div:nth-child(1) {
    transform: rotateZ(-45deg);
}
.to__text > div:nth-child(2) {
    transform: rotateZ(45deg);
}

.title {
    width: 75%;
    height: 30vh;
    margin: 0 auto;
    margin-top: 30px;
    font-family: "baking_sauce";
    font-size: 3rem;
    color: var(--white--blue);
    text-shadow: 0 0 12px var(--light--blue),
                 0 0 30px var(--blue);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title > div {
    display: flex;
    gap: 2px;
    justify-content: center;
}

.title > div > span {
    animation: bounce 1s linear infinite;
}

.title > div:nth-child(1) > span:nth-child(1) {
    animation-delay: .2s;
}
.title > div:nth-child(1) > span:nth-child(2) {
    animation-delay: .4s;
}
.title > div:nth-child(1) > span:nth-child(3) {
    animation-delay: .6s;
}
.title > div:nth-child(1) > span:nth-child(4) {
    animation-delay: .8s;
}
.title > div:nth-child(1) > span:nth-child(5) {
    animation-delay: 1s;
}
.title > div:nth-child(2) > span:nth-child(1) {
    animation-delay: 1.2s;
}
.title > div:nth-child(2) > span:nth-child(2) {
    animation-delay: 1.4s;
}
.title > div:nth-child(3) > span:nth-child(1) {
    animation-delay: 1.6s;
}
.title > div:nth-child(3) > span:nth-child(2) {
    animation-delay: 1.8s;
}
.title > div:nth-child(3) > span:nth-child(3) {
    animation-delay: 2s;
}

@keyframes bounce {
    50% {
        transform: translate(0, var(--max--move));
    }
    100% {
        transform: translate(0);
    }
}

.img__container {
    width: 80%;
    height: 70vh;
    margin: 30px;
    margin: 0 auto;
}

.img__jesus {
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 35px #FFFFFFaa);
}

.text {
    width: 100%;
    min-height: 450px;
    
    text-align: justify;
    color: var(--white--blue);
    margin: 20px auto;
    margin-top: 40px;

    background-color: #68b2f82c;
    border-radius: 20px;
    box-shadow: 5px 5px 100px #fff3;

}

.text__evangelismo {
    padding: 30px;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}

.button__container {
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 10px;
    margin: 40px;
    
    display: flex;
    justify-content: center;
}

.button {
    background-color: var(--blue);
    padding: 15px 30px;
    text-decoration: none;
    color: var(--white--blue);
    font-size: 1.3rem;
    border-radius: 10px;
    border: 2px solid var(--white--blue);

    box-shadow: inset 10px -10px 30px var(--black--blue),
                5px 7px 10px #68b2f899;

    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:active {
    box-shadow: inset 10px -10px 40px var(--black),
                5px 7px 10px #ccbbff88;
}

@media only screen and (min-width: 600px) {
    
    :root {
        --max--move: 20px;
        --min--move: -20px;
    }

    .to__text {
        display: none;
    }

    .title {
        width: 100%;
        justify-content: center;
        font-size: 5.5rem;
        flex-direction: row;
        gap: 30px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .img__container {
        width: 40%;
        margin: 0;
    }

    .text {
        width: 40%;
        margin: 0;
        min-height: auto;
        font-size: .8rem;
    }

    .button:hover {
        box-shadow: inset 10px -10px 40px var(--black),
                5px 7px 10px #ccbbff88;
    }
}



